* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.textPosition {
  text-align: center;
  margin-top: 40px;
}

input {
  width: 200px;
  height: 30px;
  /* margin-left: 20px; */
  text-align: right;
}

input:focus {
  outline: none;
  border-color: #44a0be;
  background-color: #fff;
}

.button_position {
  margin-left: 20px;
}
