* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body{
    background-color: #4faa90;
} */

.button2 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 0.875rem/100% Arial, Helvetica, sans-serif;
  padding: 0.3125rem 0.125rem 0.25rem;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3125rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  color: #d9eef7;
  border: solid 0.0625rem #0076a3;
  background: #44a0be;
}

.button2:hover {
  background: #007ead;
}

h3 {
  float: right;
  margin-right: 12.5rem;
  margin-top: 1.25rem;
}

.box {
  margin: 9.375rem auto auto auto;
  height: 25rem;
  /* background-color: #d5e057; */
}

.box2 {
  margin: 9.375rem auto auto auto;
  width: 100%;
  height: 25rem;
  border: 0.0625rem solid #d0d0d0;
  border-radius: 0.625rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);*/
  /* background-color: #d5e057; */
}

.textPosition {
  text-align: center;
  margin-top: 2.5rem;
}

input {
  width: 12.5rem;
  height: 1.875rem;
}

input:focus {
  outline: none;
  border-color: #44a0be;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mian_ul {
  margin-top: 3.125rem;
  margin-right: 2rem;
}

.navbar2 {
  margin: 0;
  padding: 0;
  border-right: 0.0625rem solid #2f3e4e;
  height: 100%;
  /* left navbar on left*/
}

.nav_ul2 {
  width: 12.5rem;
  margin-right: 3.125rem;
  margin-top: 3.125rem;
  /* nav ul style*/
}
.nav_list2 {
  padding-bottom: 1.25rem;
  /* left nav li style */
}

.nav_list2_bottom {
  margin-top: 300%;
  margin-right: 0;
  margin-left: 3.125rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.25rem;
}

li {
  padding-left: 3.125rem;
  list-style-type: none;
  padding-bottom: 0.625rem;
}

.top {
  width: 100%;
  height: 6rem;
  border: 0.0625rem solid black;
  background-color: #2f3e4e;
}

.top_title {
  margin-top: 1.875rem;
  margin-left: 6.25rem;
  color: white;
}

h3 {
  float: right;
  margin-right: 6.25rem;
  margin-top: 1.875rem;
}

h3 {
  color: white;
}

.search {
  margin-left: 8.75rem;
  margin-top: 3.125rem;
}
