.nav_list {
  margin-left: 50px;
  padding-bottom: 20px;
}

h3 {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

button {
  color: black;
  background: white;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

button:hover {
  background: #d0d0d0;
}

.date {
  margin-left: 140px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.data_position {
  margin-left: 20px;
  margin-right: 20px;
}

.flex_list {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

li {
  padding-left: 50px;
  padding-bottom: 10px;
}

.delete {
  margin-top: 24px;
}

ul {
  margin-top: 80px;
  margin-right: 2rem;
}

li {
  padding-left: 0;
}

.nav_ul {
  margin-right: 0;
}
