.tbCss {
    margin-top: 0.625rem;
}

    .tbCss tr {
        padding: 0.125rem;
        border: solid 0.125rem #000;
    }

    .tbCss td {
        padding: 0.125rem ;
        border: solid 0.125rem #000;
    }

.tbSbmtCss {
    margin-top: 0.625rem;
}

    .tbSbmtCss tr {
        padding: 0;
        border: solid 0 #000;
    }

    .tbSbmtCss td {
        padding: 0;
        border: solid 0 #000;
    }
