.tbCss {
    margin-top: 10px;
}

    .tbCss tr {
        padding: 2px 2px 2px 2px;
        border: solid 2px #000;
    }

    .tbCss td {
        padding: 2px 2px 2px 2px;
        border: solid 2px #000;
    }
