.tbCss {
    margin-top: 0.625rem;
}

    .tbCss tr {
        padding: 0.125rem ;
        border: solid 0.125rem #000;
    }

    .tbCss td {
        padding: 0.125rem ;
        border: solid 0.125rem #000;
    }
