.main {
  z-index: -1;
  margin: 0.625rem auto auto 3rem;
  width: 56.25rem;
  /* height: 43.75rem; */
  /* border: 0.0625rem solid black; */
  border-radius: 0.625rem;
  /* padding: 3.125rem; */
  padding-top: 5rem;
  /* background-color: #4faa90; */
}
form {
  margin-top: 3.125rem;
}

.right {
  text-align: right;
  margin-top: 1.875rem;
  /* margin-right: 8.125rem; */
}

.wideInput {
  width: 25rem;
  height: 1.875rem;
}

.question_first {
  height: 12.5rem;
}

.preview {
  height: 12.5rem;
}

h4 {
  margin-top: 1.875rem;
}

.checkbox {
  margin-left: 1.25rem;
}
