button {
  color: black;
  background: white;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

button:hover {
  background: #d0d0d0;
}

.main_part {
  margin-left: 6.25rem;
  margin-top: 3.125rem;
}

.flexList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav_ul {
  width: 12.5rem;
  margin-right: 0;
}

.user_view {
  margin-top: 3.125rem;
  /* border: 0.0625rem solid black; */
  width: 16.875rem;
  height: 21.875rem;
}
