<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin_login.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
      <a class="top_title" href="/index"
        ><h3 style="margin: 0; padding: 0; font-size: 1.3rem;">
          JAPANESE FOOD QUIZ
        </h3></a
      >
    </div>
    <div class="box">
      <form action="" method="post">
        {{ form.hidden_tag()}}
        <p class="textPosition">
          {{ form.username.label }} {{ form.username(size = 32)}} {% for error
          in form.username.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="textPosition">
          {{ form.password.label }} {{ form.password(size = 32)}} {% for error
          in form.password.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="textPosition">
          {{ form.submit (class="button2",style="text-align: center;")}}
        </p>
      </form>
      <p class="textPosition">
        <button>Forget Password</button>
      </p>
    </div>

    {% endblock %}
  </head>
</html>
