<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin_login.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="box">
      <form action="" method="post">
        {{ form.hidden_tag()}}
        <p class="textPosition">
          {{ form.userID.label }} {{ form.userID(size = 32)}} {% for error
          in form.userID.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="textPosition">
          {{ form.password.label }} {{ form.password(size = 32)}} {% for error
          in form.password.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="textPosition">
          {{ form.submit (class="button2",style="text-align: center;")}}
        </p>
      </form>
      <p class="textPosition">
        <button>Forget Password</button>
      </p>
    </div>

    {% endblock %}

