<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/user_register.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="box">
      <form action="" method="post">
        {{ form.hidden_tag()}}
        <p class="#">
          {{ form.userID.label }} {{ form.userID(size = 32)}} {% for error
          in form.userID.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.oldPassword.label }} {{ form.oldPassword(size = 32)}} {% for error
          in form.oldPassword.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.newPassword.label }} {{ form.newPassword(size = 32)}} {% for error
          in form.newPassword.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.retypePassword.label }} {{ form.retypePassword(size = 32)}} {% for error
          in form.retypePassword.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.submit (class="button2",style="text-align: center;")}}
        </p>
      </form>
    </div>

    {% endblock %}

