<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <!-- Masthead-->
    <header
      class="masthead bg-primary text-white text-center"
      style="padding-bottom: 2rem;"
    >
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-1" src="/static/sushi.svg" alt="" />
        <!-- Masthead Heading-->
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-fish"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0 font-weight-bold">
          Welcome To JapaneseFoodQuiz.com !!
        </p>
      </div>
    </header>
    <!-- Portfolio Section-->
    <section
      class="page-section portfolio"
      id="portfolio"
      style="padding-top: 2rem; padding-bottom: 2rem;"
    >
      <p style="text-align: center;">
        Japanese cuisine has been developed for years, and we mean centuries.
        Each dish is dependant on what<br />
        is available seasonally and may consist of different kinds of fish or
        vegetables, depending on the time of<br />
        the year. This cuisine relies heavily on rice, noodles, vegetables, fish
        and of course, various kinds fo<br />
        broths. And while a lot of the food is cooked, many are also served
        raw.<br />
        <br />
        Like many other cultures, the Japanese have adopted favorites from all
        over the world and have put<br />
        their own spin on it, to make the meals theirs. This includes, but is
        not limited to curry rice from India,<br />
        spaghetti from Italy and gyoza (also known as jiaozi) from China. But
        there is one dish that the Japanese<br />
        have given to the world that no one else can take credit for: the
        delicious, fully-flavored sushi.<br />
        <br />
        All the food that we've mentioned (and more) will be shown to you in
        this quiz. Will you know the<br />
        difference between sashimi and an actual sushi roll, the difference
        between gyoza and miso, or the<br />
        difference between soba and yakiniku? Show us that you're an expert by
        properly identifying all these<br />
        Japanese foods.
      </p>
    </section>
    <!-- Browse Questions -->
    <section
      class="page-section bg-primary text-white mb-0"
      id="about"
      style="padding-top: 1rem; padding-bottom: 2rem;"
    >
      <div class="container">
        <!-- Browse Questions -->
        <div class="text-center">
          <a class="btn btn-xl btn-outline-light" href="/user_login">
            <i class="fas fa-fish mr-2"></i>LOGIN NOW !!
          </a>
        </div>
      </div>
    </section>

    {% endblock %}