<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/admin_page.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="main">
      <div class="navbar2">
        <ul class="nav_ul2">
          <li class="nav_list2">
            <a href="/manage_quiz"><button>Manage Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/upload_question_set"><button>Upload Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/manage_user"><button>Manage Users</button> </a>
          </li>
          <li class="nav_list2_bottom"><button>Change Name</button></li>
          <li class="nav_list2"><button>Change Password</button></li>
          <li class="nav_list2"><button>Sign Out</button></li>
        </ul>
      </div>
      <div class="main_part">
        <p class="search">Search: <input type="text" /></p>

        <div class="flex_list">
          <ul class="mian_ul">
            <li><strong>Username</strong></li>
            <li>Han Chooi</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>User ID</strong></li>
            <li>123123</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Status</strong></li>
            <li>Approved</li>
            <li>Pending</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Last Login</strong></li>
            <li>12/02/2020</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Delete/Approve</strong></li>
            <li><button>Manage</button></li>
            <li><button>Manage</button></li>
          </ul>
        </div>
      </div>
    </div>

    {% endblock %}