<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/admin_page.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="main">
      <div class="navbar2">
        <ul class="nav_ul2">
          <li class="nav_list2">
            <a href="/manage_quiz"><button>Manage Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/upload_question_set"><button>Upload Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/manage_user"><button>Manage Users</button> </a>
          </li>
            <li class="nav_list2_bottom"><a href="/admin_change_password"><button>Change Password</button></a></li>
          <li class="nav_list2"><button>Sign Out</button></li>
        </ul>
      </div>
      <div class="main_part">
          <p class="search">Search: <input type="text" /></p>
          <div class="flex_list container">
          <table class="table">
              <tr>
                  <th><strong>Display Name</strong></th>
                  <th><strong>User ID</strong></th>
                  <th><strong>Status</strong></th>
                  <th><strong>Last Login</strong></th>
                  <th><strong>Delete</strong></th>
              </tr>
               {% for user in users %}
                  <tr>
                          <td>{{ user.name }}</td>
                          <td>{{ user.id }}</td>
                          <td>{{ user.status }}</td>
                          <td>{{ user.last_login }}</td>
                          <td><a href="/update?id={{ user.id }}">Delete</a></td>
                  </tr>
               {% endfor %}
          </table>
          </div>
      </div>
    </div>
    {% endblock %}