<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/admin_page.css" />
    <!-- extend for header and footer-->
    {% extends 'base.html' %} {% block content %}
    <!-- left nav bar -->
    <div class="top">
    </div>
    <div class="main">
      <div class="navbar2">
        <ul class="nav_ul2">
          <li class="nav_list2">
            <a href="/manage_quiz"><button class="highlight_m_quiz">Manage Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/manage_user"><button>Manage Users</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/upload_question_set"><button>Upload Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/upload_quiz"><button>Upload Question</button></a>
          </li>
          <li class="nav_list2">
            <a href="/qs"><button>Attempt A Quiz </button></a>
          </li>
          <li class="nav_list2_bottom">
            <a href="/user_change_name"><button>Change Name</button></a>
        </li>
            <li class="nav_list2"><a href="/admin_change_password"><button>Change Password</button></a></li>
          <li class="nav_list2"><a href="/logout"><button>Log Out</button></a></li>
        </ul>
      </div>
      <div class="main_part">
        <p class="search">Search: <input type="text" /></p>
        <!-- Quiz Set div-->
      <div class="flex_list container">
       <table class='table'>
              <tr>
                  <th><strong>Quiz Set ID</strong></th>
                  <th><strong>Name</strong></th>
                  <th><strong>Status</strong></th>
                  <th><strong>View/Edit</strong></th>
                  <th><strong>Approval</strong></th>
                  <th><strong>Delete</strong></th>
              </tr>
               {% for quizSet in quizSets %}
                  <tr>
                          <td>{{ quizSet.quizSetID }}</td>
                          <td>{{ quizSet.name }}</td>
                          <td>{{ quizSet.status }}</td>
                          <td><a class="button2 mr-1" href="/view_question_set?id={{ quizSet.quizSetID }}">View</a><a class="button2" href="/edit_question_set?id={{ quizSet.quizSetID }}">Edit</a></td>
                          {%  if quizSet.status== "approve" %}
                          <td style="text-align: left;" ><a href="/approve_quiz_set?id={{ quizSet.quizSetID }}">Undo</a></td>
                          {% else %}
                          <td style="text-align: left;" ><a href="/delete_quiz_set?id={{ quizSet.quizSetID }}">Approve</a></td>
                          {% endif %}
                          <td style="text-align: left;" ><a href="/delete_quiz_set?id={{ quizSet.quizSetID }}">Delete</a></td>
                  </tr>
               {% endfor %}
       </table>
      </div>
      <!-- manage quizs div -->
      <div class="flex_list container">
       <table class='table'>
              <tr>
                  <th><strong>Quiz Set ID</strong></th>
                  <th><strong>Question Id</strong></th>
                  <th><strong>Question</strong></th>
                  <th><strong>Correct Answer</strong></th>
                  <th><strong>Edit</strong></th>
                  <th><strong>Delete</strong></th>
              </tr>
               {% for question in questions %}
                  <tr>
                          <td>{{ question.quizSetID }}</td>
                          <td>{{ question.questionID }}</td>
                          <td style="width:24rem;">{{ question.question }}</td>
                          <td>{{ question.correctAnswer}} </td>
                          <td><a class="button2 mr-1" href="/view_quiz?id={{ question.questionID }}&qsID={{ question.quizSetID }}">View</a><a class="button2" href="/edit_quiz?id={{ question.questionID }}&qsID={{ question.quizSetID }}">Edit</a>
                          <td style="text-align: left;" ><a href="/delete_quiz?id={{ question.questionID }}">Delete</a></td>
                          </td>
                  </tr>
               {% endfor %}
       </table>
      </div>
      </div>
    </div>
    {% endblock %}

