<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/manage_quiz.css" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
      <a class="top_title" href="/index"
        ><h3 style="margin: 0; padding: 0; font-size: 1.3rem;">
          JAPANESE FOOD QUIZ
        </h3></a
      >
      <h3>Welcome | XXX</h3>
    </div>
    <div class="main">
      <div class="navbar2">
        <ul class="nav_ul2">
          <li class="nav_list2">
            <a href="/manage_quiz"><button>Manage Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/upload_question_set"><button>Upload Quizzes</button> </a>
          </li>
          <li class="nav_list2">
            <a href="/manage_user"><button>Manage Users</button> </a>
          </li>
          <li class="nav_list2_bottom"><button>Change Name</button></li>
          <li class="nav_list2"><button>Change Password</button></li>
          <li class="nav_list2"><button>Sign Out</button></li>
        </ul>
      </div>
      <div class="main_part">
        <p class="search">Search: <input type="text" /></p>

        <div class="flex_list">
          <ul class="mian_ul">
            <li><strong>Quizzes</strong></li>
            <li>General Japanese Food Quiz</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Number of quiz</strong></li>
            <li>1</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Status</strong></li>
            <li>Approves</li>
            <li>...</li>
          </ul>
          <ul class="mian_ul">
            <li><strong>Opention</strong></li>
            <li><button>View</button></li>
            <li><button>View</button></li>
          </ul>
        </div>
      </div>
    </div>

    {% endblock %}
  </head>
</html>
