<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/qa.css" rel="stylesheet" />

{% extends 'base.html' %}

{% block content %}

        <!-- Masthead-->
        <header
        class="masthead bg-primary text-white text-center"
        style="padding-top: calc(1rem + 25px);"
        >
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            {% if question %}

                 <p style="text-align:center;">
                 <table class="tbCss" align="center">
                    <tr>
                        <td style="width:480px; height:120px; text-align:center"> <img src="{{ picture }}" width="400" height="400" alt="miss～～"/></td>
                    </tr>
                    <tr>
                        <td style="width:240px; height:240px; text-align:left; vertical-align:top">
                           {{ question.question }}
                            <br />...
                            <br />...
                            <br />
                            <br />
                            ANSWERS:<br /><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. {{ question.choiceA }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.{{ question.choiceB }}
                            <br /><br />
                                {% if question.choiceC %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C.{{ question.choiceC }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D.{{ question.choiceC }}
                                 {% endif %}
                        </td>
                    </tr>
                  </table>
                  </p>
                  <div class="box" style="text-align:center">
                      <form action="" method="post">
                        {{ form.hidden_tag()}}
                        <p class="#" style="text-align=ce">
                          {{ form.answer.label }} {{ form.answer(size = 32)}}
                        </p>
                        <p class="#">
                          {{ form.submit (class="button2")}}
                        </p>
                      </form>
                </div>
            {% endif %}
            <table class="tbSbmtCss">
                    <tr>
                        <a href="{{ next }}" class="button2" style="text-align:center;">
                            <p><button class="button2">Next>>></button></p>
                        </a>
                    </tr>
           </table>

{% endblock %}