<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/qa.css" rel="stylesheet" />

{% extends 'base.html' %}

{% block content %}

        <!-- Masthead-->
        <header
        class="masthead bg-primary text-white text-center"
        style="padding-top: calc(1rem + 25px);"
        >
        </header>

            {% if question %}
                 <p style="text-align:center;">
                 <table class="tbCss" align="center">
                    <tr>
                        <td style="width:480px; height:120px; text-align:center">PICTURE</td>
                    </tr>
                    <tr>
                        <td style="width:240px; height:240px; text-align:left; vertical-align:top">
                           {{ question.question }}
                            <br />...
                            <br />...
                            <br />
                            <br />
                            ANSWERS:<br /><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. {{ question.choiceA }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.{{ question.choiceB }}
                            <br /><br />
                                {% if question.choiceC %}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C.{{ question.choiceC }}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D.{{ question.choiceC }}
                                 {% endif %}
                        </td>
                    </tr>
                     <tr>
                         {{ form.answer.label }}  {{ form.answer.label }}
                    </tr>
                    <tr>
                         <p class="#">
                            {{ form.submit (class="button2")}}
                         </p>
                    </tr>
                </table>
            </p>
            {% endif %}
            <table class="tbSbmtCss" align="center">
                    <tr>
                        {% if question %}
                        <a href="/qa?id={{ quizSetId }}&index={{ index - 1 }}">pre</a>>
                        <a href="/qa?id={{ quizSetId }}&index={{ index + 1 }}">next</a>>
                        {% else %}
                        <a href="/user_page">
                            <p><button class="button2">Back User Page>>></button></p>
                        </a>
                        {% endif %}
                    </tr>
           </table>

{% endblock %}