<!DOCTYPE html>
<html lang="en">
  <td>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/qa.css" rel="stylesheet" />

{% extends 'base.html' %}

{% block content %}

        <!-- Masthead-->
        <header
        class="masthead bg-primary text-white text-center"
        style="padding-top: calc(1rem + 25px);"
        >
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
            {% if question %}

                 <p style="text-align:center;">
                 <table class="tbCss mb-5" align="center">
                    <tr>
                        <td style="width:480px; height:120px; text-align:center"> <img src="{{ picture }}" width="400" alt="miss～～"/></td>
                    </tr>
                    <tr>
                        <td style="width:240px; text-align:left; vertical-align:top;">
                           QUESTION:<br /><br /> {{ question.question }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                       <form action="" method="post">
                            {{ form.hidden_tag()}}
                               <li>
                                   ANSWER :<br /><br />
                                <input style="margin-right: 1rem;" type="radio"  name="choice" value="A">A. {{ question.choiceA }}
                                <br /><br />
                                <input style="margin-right: 1rem;" type="radio"  name="choice" value="B">B. {{ question.choiceB }}
                                <br /><br />
                                <input style="margin-right: 1rem;" type="radio"  name="choice" value="C">C. {{ question.choiceC }}
                                <br /><br />
                                <input style="margin-right: 1rem;" type="radio"  name="choice" value="D">D. {{ question.choiceD }}
                                </li>
                            <p class="mt-5">
                              {{ form.submit (class="button2")}}
                            </p>
                          </form>
                        </td>
                    </tr>
                  </table>
            {% endif %}

{% endblock %}