<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/qs.css" rel="stylesheet" />

  {% extends 'base.html' %}

  {% block content %}

        <!-- Masthead-->
        <header
        class="masthead bg-primary text-white text-center"
        style="padding-top: calc(1rem + 25px);"
        >
        </header>

        <!-- Portfolio Section-->
        <td class="page-section portfolio" id="portfolio">
            {% for quizSet in quizSets %}
            <p>
                <table class="tbCss" align="center">
                    <tr>
                        <th style="width:240px; height:120px; text-align:center">Picture</th>
                        <th style="width:240px; height:120px; text-align:center">Name</th>
                        <th style="width:240px; height:120px; text-align:center">Description</th>
                         <th style="width:240px; height:120px; text-align:center">Answer</th>
                    </tr>
                    <tr>
                        <td> <p> <img src="data:;base64,{{ base64.b64encode(quizSet.picture) }}"/></p></td>
                        <td style="width:240px; height:120px; text-align:left; vertical-align:top">
                            <u>{{ quizSet.name }}</u>
                        </td>
                        <td>
                            {{ quizSet.description }}
                        </td>
                        <td>
                            <input id="btnAtt01" type="button" value="Attempt Quiz" style="margin-top:80px;margin-left:120px;" onclick="location.href='/qa?id='+{{ quizSet.id }};" />
                        </td>
                    </tr>
                </table>
            </p>
            {% endfor %}
        </section>

        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about" style="padding-top: 1rem; padding-bottom: 2rem;">
            <div class="container">
                <!-- Browse Questions -->
                <div class="text-center">
                  <a class="btn btn-xl btn-outline-light" href="/qa">
                    <i class="mr-2"></i>ATTEMPT RANDOM QUIZ !!
                  </a>
                </div>
              </div>
        </section>

  {% endblock %}
