<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/style.css" rel="stylesheet" />
    <link href="/static/qs.css" rel="stylesheet" />

  {% extends 'base.html' %}

  {% block content %}

        <!-- Masthead-->
        <header
        class="masthead bg-primary text-white text-center"
        style="padding-top: calc(1rem + 25px);"
        >
        </header>

        <!-- Portfolio Section-->
        <td class="page-section portfolio" id="portfolio">
            {% for quizSet in quizSets %}
            <p>
                <table class="tbCss" align="center">
                    <tr>
                        <td>
                            <p> <img src="{{ quizSet.picture }}" width="500rem" alt="miss～～"/></p>
                        </td>                  
                    </tr>
                    <tr>
                        <td>
                            <u>{{ quizSet.name }}</u>
                            <br>
                            {{ quizSet.description }}                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ quizSet.href }}"> Attempt Quiz </a>
                        </td>
                    </tr>
                </table>
            </p>
            {% endfor %}
        </section>

        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about" style="padding-top: 1rem; padding-bottom: 2rem;">
            <div class="container">
                <!-- Browse Questions -->
                <div class="text-center">
                  <a class="btn btn-xl btn-outline-light" href="/user_page">
                    <i class="mr-2"></i>BACK TO USER PAGE
                  </a>
                </div>
              </div>
        </section>

  {% endblock %}
