<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/upload_question_set2.css"
    />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
      <a class="top_title" href="/index"
        ><h3 style="margin: 0; padding: 0; font-size: 1.3rem;">
          JAPANESE FOOD QUIZ
        </h3></a
      >
      <h3>Welcome | XXX</h3>
    </div>
    <div class="main">
      <h2>Quiz Set Upload:</h2>
      <form>
        <p>Quiz Name: <input type="text" /></p>
        <!--<p>Quiz Set: <input type = 'text' placeholder="Please select a Quiz Set"></p> -->
        <p>Quiz Description: <input type="text" class="description" /></p>
        <h4>Upload a Picture: <button>Select File</button></h4>
        <p>
          Preview:
          <input class="preview" type="text" placeholder="Dreag To Adjust" />
        </p>
        <p><button>Next Question>>></button></p>
      </form>
    </div>

    {% endblock %}
  </head>
</html>
