<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/upload_quiz.css" />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="main">
      <h2>Question Upload:</h2>
      <div>
        <form>
          {{ form.hidden_tag()}}

          <div style="text-align:left;">
            <p class="#">{{ form.quizSetId.label }}  {{ form.quizSetId }}</p>
            <p class="#">{{ form.question.label }}  {{ form.question }}</p>
            <p style="margin-left:21rem">Correct Choice</p>
            <p class="#">
              {{ form.choiceA.label }} {{ form.choiceA }}
              <input class="checkbox" type="radio" name="choice" value="A" />
            </p>
            <p class="#">
               {{ form.choiceB.label }} {{ form.choiceB }}
              <input style="text-align: right;" class="checkbox" type="checkbox" name="choice" value="B" />
            </p>
            <p class="#">
               {{ form.choiceC.label }} {{ form.choiceC }}
              <input class="checkbox" type="checkbox" name="choice" value="C" />
            </p>
            <p class="#">
              {{ form.choiceD.label }} {{ form.choiceD }}
              <input class="checkbox" style="text-align: right;" type="checkbox" name="choice" value="D" />
            </p>
            <p class="#">
                {{ form.submit (class="button2")}}
            </p>
          </div>
        </form>
        <a href="/user_page">
          <p><button class="button2">Back User Page<<<</button></p>
        </a>
        <a href="/upload_question_set">
          <p><button class="button2">Create Question Set Page>>></button></p>
        </a>
      </div>
    </div>
    {% endblock %}