<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/upload_quiz.css" />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="main">
      <h2>Quiz Upload:</h2>
      <div>
        <form>
          <!--<p>Quiz Set: <input type = 'text' placeholder="Please select a Quiz Set"></p> -->
          <div style="text-align:left;">
            <p class="#">Question1: <input type="text" class="wideInput question_first" /></p>
            <p style="margin-left:27.5rem">Correct Choice</p>
            <p class="#">
              Choice A: <input style="width: 24.375rem;" type="text" />
              <input class="checkbox" type="checkbox" />
            </p>
            <p class="#">
              Choice B: <input style="width: 24.375rem;" type="text" />
              <input style="text-align: right;" class="checkbox" type="checkbox" />
            </p>
            <p class="#">
              Choice C: <input style="width: 24.375rem;" type="text" />
              <input class="checkbox" type="checkbox" />
            </p>
            <p class="#">
              Choice D: <input style="width: 24.375rem;" type="text" />
              <input class="checkbox" style="text-align: right;" type="checkbox" />
            </p>
          </div>
        </form>
        <a href="/upload_quiz" style="margin-bottom: 2rem;">
          <button class="button2" style="margin-bottom: 2rem; margin-left: 28.125rem">Next Question>>></button></a
        >
      </div>
    </div>
    {% endblock %}