<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/upload_quiz.css" />
    <title>Upload Quize Set</title>
  </head>

  <body>
    <div class="top">
      <a class="top_title" href="/index"
        ><h3 style="margin: 0; padding: 0; font-size: 1.3rem;">
          JAPANESE FOOD QUIZ
        </h3></a
      >
      <h3>Welcome | XXX</h3>
    </div>
    <div class="main">
      <h2>Quiz Upload:</h2>
      <form>
        <!--<p>Quiz Set: <input type = 'text' placeholder="Please select a Quiz Set"></p> -->

        <p>Question1: <input type="text" class="question_first" /></p>
        <p class="choice_position">Correct Choice</p>
        <p>
          ChoiceA: <input type="text" />
          <input class="checkbox" type="checkbox" />
        </p>
        <p>
          ChoiceB: <input type="text" />
          <input class="checkbox" type="checkbox" />
        </p>
        <p>
          ChoiceC: <input type="text" />
          <input class="checkbox" type="checkbox" />
        </p>
        <p>
          ChoiceD: <input type="text" />
          <input class="checkbox" type="checkbox" />
        </p>
        <h4>Upload a Picture: <button>Select File</button></h4>
        <p>
          Preview:
          <input class="preview" type="text" placeholder="Dreag To Adjust" />
        </p>
        <p><button>Next Question>>></button></p>
      </form>
    </div>
  </body>
</html>
