<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/user_page.css" />

    {% extends 'base.html' %} {% block content %}

    <body>
      <div class="top">
      </div>
      <div class="main">
        <div class="navbar2">
          <ul class="nav_ul2">
            <li class="nav_list2">
              <a href="/user_page"><button class="highlight_result">Results</button> </a>
            </li>
            <li class="nav_list2">
              <a href="/qs"><button>Attempt A Quiz </button></a>
            </li>
            <li class="nav_list2">
              <a href="/upload_question_set"
                ><button>Upload Quizzes</button>
              </a>
            </li>
            <li class="nav_list2">
              <a href="/upload_quiz"
                ><button>Upload Question</button>
              </a>
            </li>
            <li class="nav_list2_bottom">
                <a href="/user_change_name"><button>Change Name</button></a>
            </li>
            <li class="nav_list2">
                <a href="/user_change_password"><button>Change Password</button></a>
            </li>
            <li class="nav_list2">
                <a href="/logout"><button>Sign Out</button></a>
            </li>
          </ul>
        </div>
        <div class="main_part">
          <h1> Welcome {{ username }} !</h1>
          <div style="margin-bottom: 5rem;"></div>
          <div class="flexList container" style="margin-bottom: 5rem;">
              <table class="table">
              <tr>
                  <th><strong>Attempted Quizzes Id</strong></th>
                  <th><strong>Attempted Quizzes Name</strong></th>
                  <th><strong>Score</strong></th>
              </tr>
                {%  for answer in show_answers %}
                  <tr>
                          <td>{{ answer.quiz_set_id }}</td>
                          <td>{{ answer.name }}</td>
                          <td>{{ answer.score }}</td>
                  </tr>
               {% endfor %}
          </table>
          <br>
          <br>
          </div>
          <div class="flexList container">
              <table class="table">
              <tr>
                  <th><strong>Uploaded Quizzes Id</strong></th>
                  <th><strong>Uploaded Quizzes Name</strong></th>
                  <th><strong>Number of attempts</strong></th>
              </tr>
                {%  for quiz in show_quizs %}
                  <tr>
                          <td>{{ quiz.quiz_set_id }}</td>
                          <td>{{ quiz.name }}</td>
                          <td>{{ quiz.otherNumber }}</td>
                  </tr>
               {% endfor %}
              </table>
          </div>
        </div>
      </div>

      {% endblock %}