<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/user_register.css" />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
      <a class="top_title" href="/index"
        ><h3 style="margin: 0; padding: 0; font-size: 1.3rem;">
          JAPANESE FOOD QUIZ
        </h3></a
      >
    </div>
    <br />
    <div class="box">
      <form>
        <p style="margin-top: 5rem;">Display Name: <input type="text" /></p>
        <p>User ID: <input type="text" /></p>
        <p>Password: <input type="password" /></p>
        <p>Repeat Password: <input type="password" /></p>
      </form>
      <div class="button_position">
        <a href="/user_page"><button>Sign Up</button></a>
      </div>
    </div>
    <div style="height: 40rem;"></div>

    {% endblock %}
  </head>
</html>
