<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/user_register.css" />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <br />
    <div class="box">
      <form>
        <p>Display Name: <input type="text" /></p>
        <p>User ID: <input type="text" /></p>
        <p>Password: <input type="password" /></p>
        <p>Repeat Password: <input type="password" /></p>
      </form>
      <div class="button_position">
        <a href="/user_page"><button>Sign Up</button></a>
      </div>
    </div>
    {% endblock %}