<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link rel="stylesheet" type="text/css" href="static/user_register.css" />
    <link href="/static/style.css" rel="stylesheet" />

    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="box">
      <form action="" method="post">
        {{ form.hidden_tag()}}
        <p class="#">
          {{ form.userID.label }} {{ form.userID(size = 32)}} {% for error
          in form.userID.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.password.label }} {{ form.password(size = 32)}} {% for error
          in form.password.errors %}
          <span style="color: red;"> [{{ error}}]</span>
          {% endfor %}
        </p>
        <p class="#">
          {{ form.submit (class="button2")}}
        </p>
      </form>
      <p class="#">
        <a href="#" style="color:grey;">Forgot Password</a>
      </p>
    </div>
    {% endblock %}