<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/default.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/upload_question_set2.css"
    />
    <link href="/static/style.css" rel="stylesheet" />
    <!-- extend for header and footer-->
    {% extends 'base.html' %} {% block content %}

    <div class="top">
    </div>
    <div class="main">
         <!-- edit quiz operation -->
      <h2>Quiz Set Edit:</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
      <div>
           <!-- update content -->
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag()}}
            <p>  {{ form.quizSetId.label }} {{ form.quizSetId(size = 100)}}</p>
            <p>  {{ form.quizName.label }} {{ form.quizName(size = 100)}}</p>
            <p> {{ form.quizDescription.label }} {{ form.quizDescription(size = 1000)}}</p>
            <p> Upload Photo {{ form.picture }}  </p>
        </form>
        <a href="/user_page">
          <p><button class="button2">Back To User Page</button></p></a
        >
      </div>
    </div>
    {% endblock %}