
.main{
    position: absolute;
    z-index: -1;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin:10px auto auto auto;
    width: 900px;
    /* height: 700px; */
    /* border: 1px solid black; */
    border-radius: 10px;
    /* padding: 50px; */
    padding-top: 80px;
    /* background-color: #4faa90; */
}
form{
    margin-top: 50px;
}

p{
    text-align: right;
    margin-top:30px;
    /* margin-right: 130px; */
}


input{
    width:400px;
    height:30px;
}

.question_first{
    height: 200px;
}

.preview{
    height: 200px;
}

h4{
    margin-top: 30px;
}

.checkbox{
    position: absolute;
    margin-left: 70px;
}
.choice_position{
    position: absolute;
    margin-left: 500px;
    bottom: 600px;
}