

button{
    color:black;
    background: white;
    text-shadow: none;
    box-shadow: none;
    border: none;
}

button:hover{
    background:#D0D0D0;
}



.main_part{
    margin-left: 100px;
    margin-top: 50px;
    
}

.flexList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
ul{
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 270px;
    height: 350px;
}

.nav_ul{
    width: 200px;
    margin-right: 0; 
}